{#
/**
 * @file other_favorite.html.twig
 * Default theme implementation to present Other Favorite data.
 *
 * This template is used when viewing Other Favorite pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_other_favorite()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('other_favorite') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
